@{
  ViewBag.Title="Katılım Formu";
}
@model ApplyInfo

<h1>Toplantı Katılım Formu</h1>
<form action="/Meeting/Apply" method="post">
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Name</label>
    <input type="text" asp-for="Name" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Phone" class="form-label">Telefon</label>
    <input type="text" asp-for="Phone" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label">E-Posta</label>
    <input type="text" asp-for="Email" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="WillAttend" class="form-label">Katılım Durumu</label>
    <select asp-for="WillAttend" class="form-select">
      <option value="true">Evet, katılıyorum</option>
      <option value="false">Hayır, katılıyorum</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
