@{
    ViewBag.Title="Toplantı Başvurusu";
    
}
<main class="text-center">
<h1>Toplantı özeti</h1>
<p>Toplantıya sizle beraber 30 kişi katılmaktadır</p>
<a href="/meeting/list" class="btn btn-sm btn-outline-primary">Katılımcıları listele</a>
</main>