@{
  ViewBag.Title="Katılımcı Listesi";
  
}
<h1>Toplantıya katılım listesi</h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Ad</th>
      <th>Email</th>
      <th>Katılım</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cengizhan Şahin</td>
      <td>cengizxhan@gmail.com</td>
      <td>Evet</td>
      <td>
        <a href="#" class="btn btn-sm btn-primary">Detay</a>
      </td>
    </tr>
    <tr>
      <td>Erkin Tekin</td>
      <td>erkinxtekin@gmail.com</td>
      <td>Evet</td>
      <td>
        <a href="#" class="btn btn-sm btn-primary">Detay</a>
      </td>
    </tr>
  </tbody>
</table>
