<h1>Toplantıya katılım listesi</h1>
<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Katılım</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cengizhan Şahin</td>
            <td>cengizxhan@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Erkin Tekin</td>
            <td>erkinxtekin@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>