@model Product
<form action="/product/create" method="post">
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Ürün Adı</label>
    <input asp-for="Name" class="form-control" />
  </div>
  <div class="mb-3">
    <label asp-for="Price" class="form-label">Ürün Fiyatı</label>
    <input asp-for="Price" class="form-control" />
  </div>
  <div class="mb-3">
    <label asp-for="CategoryId" class="form-label">Ürün Kategorisi</label>
    <select asp-for="CategoryId" class="form-select">
        if(ViewBag.CategoryList!=null || ViewBag.CategoryList!=""){
      @foreach(var category in ViewBag.CategoryList){

      <option value="@category.Id">@category.Name</option>
      }}
      else{
        <option disabled="true">Kategori Bulunmamaktadır.</option>
      }
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
