@model List<Course>
  <h1>Kurslar Listesi</h1>
  @foreach (var item in Model)
    {
      @if(item.isActive)
        {
          @await Html.PartialAsync("_Card", item)
        }
    }
  @section Footer 
    {
      @await Html.PartialAsync("_Footer")
    }